html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	opacity: 1;
	margin: 0;
	background-color: #ffffff;
	transition: opacity 2s, background-color 2s, background-position 2s;
	transition-timing-function: ease-in;
}

body {
	background: linear-gradient(transparent, SlateGray);
	background-color: #ffffff;
	font-family: 'sans-serif';
	font-size: 24px;
}

html.session_starting {
	opacity: 0;
}

.session_starting body {
	opacity: 0;
	background-color: rgba(0, 0, 0, 0);
	background-position-y: -100%;
}

.container {
	width: 100%;
	height: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.topBox, .inputBox, .messageBox {
	width: 100%;
	height: 33.33%;
	text-align: center;
}

.inputBox {
	position: relative;
}

.wrapper {
	height: 85px;
	width: 350px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.topBox {
	text-align: right;
	padding: 15px;
	box-sizing: border-box;
}

.messageBox {
	text-align: center;
	visibility: hidden;
}

input#entry {
	outline: none;
	background: rgba(0, 0, 0, 0.05);
	box-shadow: none;
	box-sizing: border-box;
	line-height: normal;
	transition: .3s ease;
	border: none !important;
	padding: 14px 4% !important;
	font-size: 16px;
	color: #666;
	background-color: #fff;
	width: 100%;
	font-weight: 400;
	border-radius: 3px !important;
}

input#entry:focus {
	background: rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.75);
}

input#entry:focus::placeholder {
	color: rgba(255, 255, 255, 0.3);
}
