body {
	opacity: 1;
	transition: opacity 1s, background-color 1s;
}

body, #entry, #session-menu {
    background: black;
    color: lime;
}

.session_starting body {
	opacity: 0;
}

.container {
    width: 400px;
    margin: 30vh auto;
}

.input, .messageBox {
	width: 100%;
}

.messageBox, input {
	font-size: 24px;
    font-family: monospace;
    font-weight: bold;
}

.messageBox {
    color: blue;
}

.message-error {
    color: red;
}

#entry {
	border: none;
}

#entry:focus::placeholder {
	color: darkgreen;
}

#session-menu {
  padding: 0;
}

#session-menu li {
  position: relative;
  margin: 2px 0;
  padding: 0.5em 0.5em 0.5em 2em;
  list-style-type: none;
  font-family: monospace;
  border: solid darkgreen;
  white-space: pre;
  display: none;
  overflow: hidden;
}

#session-menu .selected {
  border: solid lime;
}

#session-menu .selected::before {
  content: '«';
  position: absolute;
  left: 1em;
}

#session-menu .selected::after {
  content: ' »';
}

#session-menu.active li,
#session-menu .selected {
  display: block;
}
